<body>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
  <link rel="stylesheet" href="application.css">
  <%= form_for @comedian do |f| %>
    <h3><%= f.label :name %><br/>
    <%= f.text_field :name %></h3>
    <h3><%= f.label :age %><br/>
    <%= f.text_field :age %></h3>
    <h3><%= f.label :city %><br/>
    <%= f.text_field :city %></h3>
    <h3><%= f.label :img_url %><br/>
    <%= f.text_field :img_url %></h3>
    <p class="button"><%= f.submit :"Add Comedian"%></p>
  <% end %>
  <a href='/comedians' class="button">Cancel</a>
</body>
